<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="text-center mb-0">Fine Issuing Form</h3>
        </div>
        <div class="card-body">

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="driverName" class="form-label">Driver Name</label>
                    <input type="text" class="form-control" id="driverName" placeholder="Enter Driver's Name" required
                        [(ngModel)]="fineDetail.driverName">
                </div>
                <div class="col-md-6">
                    <label for="driverLicenceNumber" class="form-label">Driver Licence Number</label>
                    <input type="text" class="form-control" id="driverLicenceNumber" placeholder="Enter Licence Number"
                        required [(ngModel)]="fineDetail.driverLicenceNumber">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="driverNic" class="form-label">Driver NIC</label>
                    <input type="text" class="form-control" id="driverNic" placeholder="Enter NIC" required
                        [(ngModel)]="fineDetail.driverNic">
                </div>
                <div class="col-md-6">
                    <label for="driverAddress" class="form-label">Driver Address</label>
                    <input type="text" class="form-control" id="driverAddress" placeholder="Enter Address" required
                        [(ngModel)]="fineDetail.driverAddress">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="driverEmail" class="form-label">Driver Email</label>
                    <input type="email" class="form-control" id="driverEmail" placeholder="Enter Email" required
                        [(ngModel)]="fineDetail.driverEmail">
                </div>
                <div class="col-md-6">
                    <label for="driverContact" class="form-label">Driver Contact</label>
                    <input type="tel" class="form-control" id="driverContact" placeholder="Enter Contact Number"
                        required [(ngModel)]="fineDetail.driverContact">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="id" class="form-label">Fine Title</label>
                    <select class="form-control" id="officer-select" (change)="updateFineAmount($event)" [(ngModel)]="fineDetail.fineTitle">
                        <option value="">--Please choose a title--</option>
                        <option *ngFor="let trafficLaw of trafficLawList" [value]="trafficLaw.title" [attr.data-amount]="trafficLaw.fineAmount">
                            {{trafficLaw.title}}
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="fineTotalAmount" class="form-label">Fine Total Amount</label>
                    <input type="text" class="form-control" id="fineTotalAmount" [value]="fineDetail.fineTotalAmount" disabled>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="officerTableId" class="form-label">Officer Table ID</label>
                    <select class="form-control" id="pet-select" [(ngModel)]="fineDetail.officerId">
                        <option value="">--Please choose an officer id--</option>
                        <option *ngFor="let officer of officerList" [value]="officer.id">
                            {{officer.officer}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date" required [(ngModel)]="fineDetail.date">
                </div>
                <div class="col-md-6">
                    <label for="time" class="form-label">Time</label>
                    <input type="time" class="form-control" id="time" required [(ngModel)]="fineDetail.time">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="officerTableId" class="form-label">Officer Table ID</label>
                    <select class="form-control" id="pet-select" [(ngModel)]="fineDetail.officerId">
                        <option value="">--Please choose a officer id--</option>
                        <option *ngFor="let officer of officerList">
                            {{officer.officer}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="fineSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>