<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><b>Fine System</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="manage-officer">Manage Officer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="manage-traffic-law">Manage Traffic Law</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="fine-issuing">Fine Issuing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
